{% extends 'base.html' %} {% block content %}
<div id="quiz-container">
    <h1 id="quiz-header">Conversas</h1>

    <div id="topicList"></div>

    <script type="text/javascript">
        // var socketio = io();

        function renderTopic(topic) {
            
            const topicList = document.getElementById('topicList');

            const topicDiv = document.createElement('div');
            topicDiv.classList.add('dashboard-topic');

            const title = document.createElement('h2');
            title.classList.add('dashboard-topic-title');
            title.textContent = topic.title;
            topicDiv.appendChild(title);

            topic.opposers_data.forEach(opposer_data => {
                const userLink = document.createElement('a');
                userLink.href = '/room/' + topic.topic_id + '/' + opposer_data.nickname;

                const userDiv = document.createElement('div');
                userDiv.classList.add('dashboard-user');
                userDiv.textContent = opposer_data.nickname;

                userLink.appendChild(userDiv);
                topicDiv.appendChild(userLink);
            });

            topicList.appendChild(topicDiv);
        }

        // socketio.on("message", function(topic) {
        //     console.log(topic);
        //     renderTopic(topic);
        // });

    </script>

    {% for topic in dashboard_data %}
    <script type="text/javascript">
        var topicData = JSON.parse('{{ topic | tojson }}');
        renderTopic(topicData);
    </script>
    {% endfor %}

</div>
{% endblock %}